* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('/font/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 900;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    min-height: 100vh;
    background-color: #dfe4ea;
    font-family: 'Open-Sans';
}

.contact {
    margin: 12px;
    padding: 18px;
    background: white;
}
.contact h1{
    font-weight:100;
    color:#0984e3;
    font-family: 'Ubuntu', sans-serif
}
.form {
    margin: 50px 0;
}

.category {
    top: 60px;
    position: sticky;
    height: max-content;
    width: 240px;
    margin: 12px;
    padding: 8px;
    background: white;
}

.category h1 {
    background: cornflowerblue;
    color: white;
    padding: 6px 8px;
}

.category a {
    border-left: 3px solid green;
    display: block;
    margin: 6px;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    transition: letter-spacing 0.3s linear;
}

.category a:hover {
    color: white;
    background: green;
    letter-spacing: 1px;
}

.name,
.email {
    width: 300px;
    height: 28px;
    padding-left: 8px;
}

.name:focus {
    box-shadow: 0 0 1.5px #0984e3;
}

.email:focus {
    box-shadow: 0 0 1.5px #0984e3;
}

.message {
    width: 300px;
    height: 140px;
    padding: 8px;
    background: whitesmoke;
    border: 1px solid rgb(102, 100, 100);
}

.send {
    margin-top: 10px;
    width: 300px;
    height: 28px;
    color: white;
    background: #f46b6b;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.submit:hover {
    background: #f25050;
}

.footer-media {
    margin-left: 0!important;
}

.footer-media a {
    transform: scale(1)!important;
}